/*============================
=            Globals           =
============================*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background-color: moccasin;
	font-family: "Montserrat", Georgia, sans-serif;
	font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

/*============================
=            Header          =
============================*/

.banner {
	background-color: #FFCE00;
    background-repeat: repeat;
	background-image: url(pattern.png);
	height: 150px;
	opacity: 1;
	text-align: center;
    margin-bottom: 10px;
  
}

.banner h1 {
	color: #262228;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 150px;
	margin-top: 0px;
	
}

.hero {
	background-image: url(hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    width: 100%;

}

/*============================
=            Content         =
============================*/

content{
	background-color: moccasin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding:5px;
}
.item {
	background-color: #007849;
	border-radius: 5px;
	display: inline-block;
	flex-grow: 1;
	height: 500px;
	margin:5px;
	position: relative;
	text-align: center;
	width: 400px;
}


.item h2 {
	background-color: #0375B4;
	color: #262228;
	display: block;
	font-size: 1.5em;
	margin: 10px 0 10px 0;
}

.item span {
	clear: both;
	color: moccasin;
	display: block;
	font-size: 2.5em;
}

.info {
	border: 4px outset moccasin;
	color:moccasin;
	height: 100px;
	padding: 5%;
	position: absolute;
	top: 50%; left: 50%;
	transition: background-color .3s;
	transition: top .3s;
	width: 350px;
}

.a {
	margin: -130px 0 0 -202px;

}

.b {
	margin: 40px 0 0 -202px;
}



/*============================
=     Content interaction     =
============================*/


.a:hover {
	background-color: #005f39;
	margin: -135px 0 0 -202px;
}

.b:hover {
	background-color: #005f39;
	margin: 35px 0 0 -202px;
}

.correct {
	background-image: url(tick.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.incorrect {
	background-image: url(cross.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}


/*============================
=            Footer         =
============================*/


footer {
	background-color: #FFCE00;
	background-repeat: repeat;
	background-image: url(pattern.png);
	height: 150px;
	width: 100%;
}